[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

dj-database-url = "==0.5.0"
dj-static = "==0.0.6"
django = "*"
django-heroku = "*"
django-toolbelt = "==0.0.1"
djangorestframework = "*"
gunicorn = "*"
"psycopg2" = "==2.7.4"
pygments = "*"
pytz = "==2018.3"
"static3" = "==0.7.0"
whitenoise = "==3.3.1"
coreapi = "*"
"psycopg2-binary" = "*"


[requires]

python_version = "2.7"
