[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

dj-database-url = "*"
dj-static = "*"
django = "*"
django-heroku = "*"
django-toolbelt = "*"
djangorestframework = "*"
gunicorn = "*"
"psycopg2" = "*"
pygments = "*"
pytz = "*"
"static3" = "*"
whitenoise = "*"
coreapi = "*"
"psycopg2-binary" = "*"


[requires]

python_version = "2.7"
